<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.weddingelements_android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WeddingElementsAndroid"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.AdminManageInquiries"></activity>
        <activity android:name=".ui.AdminManageAdvertisements" />
        <activity android:name=".ui.AdminManageBusiness" />
        <activity android:name=".ui.AdminManageCustomers" />
        <activity android:name=".ui.AdminHome" />
        <activity android:name=".ui.AddAdvertisementActivity" />
        <activity android:name=".ui.BusinessHomeActivity" />
        <activity android:name=".ui.BusinessOwnerRegistration" />
        <activity android:name=".ui.InquiryActivity" />
        <activity android:name=".ui.CustomerRegistrationActivity" />
        <activity android:name=".ui.CustomerReviewsActivity" />
        <activity android:name=".ui.SIngleAdvertisementActivity" />
        <activity android:name=".ui.CustomerProfileActivity" />
        <activity android:name=".ui.Home" />
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".services.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>